* {
    color: white;
}

body {
    background-color: #39393C;
    padding: 0;
    margin: 0;
}

a {
    word-wrap: break-word;
}

.header-container {
    background-color: #252525;
    margin: 0px;
    height: 100px;
    display: flex;
    flex: 1;
    align-items: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 1;
    
    .blog-title {
        font-family: 'istok web', Arial;
        font-size: 48px;
        font-weight: bold;
        margin-left: 98px;
        flex: 1;
    }

    .buttons-container {
        padding: 10px;
        margin-right: 26px;
        display: flex;

        .buttons-separator {
            display: block;
            border-right: 2px solid white;
        }

        .about-me-button, .more-button {
            font-family: 'istok web', Arial;
            font-size: 24px;
            font-weight: bold;
        }

        .about-me-button:hover, .more-button:hover {
            text-decoration: underline;
            color: gray;
            cursor: pointer;
        }

        .about-me-button {
            margin-right: 13px;
        }

        .more-button {
            margin-left: 13px;
        }
        
    }
}

.article-header {
    display: flex;   

    .title-container {
        flex: 1;
    }

    .article-info-container {
        background-color: #252525;
        width: 480px;
        height: 200px;
        shape-outside: polygon(
            0 0,
            100% 0,
            100% 75%,
            25% 75%
            );
        clip-path: polygon(
            0 0,
            100% 0,
            100% 75%,
            25% 75%
            );
        position: relative;
        z-index: 0;

        p {
            margin-left: 200px;
            font-size: 24px;
            font-family: 'inter', Arial;
            font-style: italic;
            color: #ADADAD;
        }
    }

    .title-container {
        margin-left: 300px;

        .article-title {
            font-family: 'istok web', Arial;
            font-size: 45px;
            margin-top: 40px;
            margin-bottom: 0;
            text-align: center;
        }

        .article-title-cont {
            text-align: center;
            font-family: 'istok web', Arial;
            margin: 10px 0;
        }
    }
}

hr {
    border-color: #424242;
    border-style: solid;
}

article {
    width: 1000px;
    position: relative;
    margin: 100px auto;

    section {
        .section-title {
            text-align: center;
            font-size: 40px;
            font-weight: bold;
            font-family: 'istok web', Arial;
        }

        .section-text {
            font-size: 20px;
            font-family: 'istok web', Arial;
        }
    }

    .image-card {
        padding: 10px;
        width: 800px;
        margin: 0 auto;

        img {
            width: 800px
        }

        iframe {
            border-style: none;
            width: 800px;
            height: 400px;
        }

        .image-card-text {
            font-family: 'istok web', Arial;
            color: #989898;
            text-decoration: underline;
        }
    }
}
